  @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300&family=Martel+Sans&display=swap');
body{
    margin: 0;
    padding:0;
    background-color: #181A27;
    font-family:Martel Sans;
    width:100vw;
    height:100vh;
}
/* for image of saturn as background  */
.container {
    position: relative;
    text-align: center;
    color: white;
    /* margin:0; */
  }
  
  .container img{
    width:100%;
    text-align: center;
  z-index: -1;
  /* margin:0; */
  }
header {
    width:100%;   /*Giving width of header as 100%*/
    display: flex;
    justify-content: space-between;
    /* gap:14px; */
    align-items: center;
    position: absolute;
    top:2%;               /*space from top*/
    /* margin : 0 10%; */
}
.logo img{
    width: 15vw; /* Adjust the size as needed */
    margin-left: 5vw;
 }
.nav-links {
    list-style: none;
    display: flex; 
  gap: 4.5vw;
}
/* Giving styling to navigation links */
.nav-links a{
    text-decoration: none;
    color:white;
    font-size: 1vw;
}
/* on hover change in navigation links */
.nav-links a:hover{
    font-size:1.4vw;
    text-shadow: 1vw 1vw 2vw rgba(223, 216, 216, 0.726);
}
/* Subscribe button */
.btn {
    padding: 1vw 1.5vw;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: var(--text-and-support, #35A29F);
    cursor: pointer;
    font-size: 1.2vw;
    margin-right: 5vw;
}
/* Text on image */
  .saturn{
    position:absolute;
    top:26%;
    left:4%;
    font-size:3vw;
    font-weight: 800;
  }
  /* Text on image */
  .saturn1{
    position:absolute;
    top:31%;
    left:9%;
    font-size: 3vw;
    font-weight: 800;
  }
  /* text on image */
  .gate{
    text-align: center;
position:absolute;
top:37%;
left:8%;
font-size:1.2vw;
  }

  /* Styling for the icon1 */
.icon1 {
    width:10%; 
    position: absolute;
    top:42%;
    left:7%;
    z-index: 1;
}

  /* Styling for the content1 */
.content1 {
    position: absolute;
    top: 43.5%;
    left: 8.5%;
  font-size: 1.2vw;
  z-index: 2;
    color: #fff;
}
/* Styling for icon 2 */
.icon2 {
    width:10%; 
    position: absolute;
    top:42%;
    left:20%;
    z-index: 1;
}
  /* Styling for the content2 */
.content2 {
    position: absolute;
    top: 43.5%;
    left: 21.5%;
    z-index: 2;
    color: #fff;
    font-size: 1.2vw;
}
/* Explore moons closely */
.explore-container{
    margin: 0;
    color:black;
    display: flex;         /*for getting inline*/
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(151, 254, 237, 1);
    font-size: 1.5vw;
    font-weight: bold;
}
/* Styling About Saturn Edge */
.about{
    text-align: center;
    font-size:3vw;
    font-weight: 900;
    color:white;
    padding-top:6%;
    margin-bottom: 0;
}
/* Changing the color of text to Blue */
.blue{
    color:#35A29F;
    /* line-height: normal; */
}
.about-saturn{
  color:white;
  text-align: center;
  font-size: 1.3177vw;
  font-weight: 400;
  line-height: 197.111%;
  padding:0 18%;
}
/* Saturn Services */
.service{
  display: flex;
  /* Vertically center items */
  justify-content: space-between;
  padding: 4.8vw;
}

.text {
  color: var(--supportive, #FFF);
  font-family: Martel Sans;
  font-size: 3vw;
  font-weight: 800;
  margin-bottom: 0;
  line-height:4.8vw;

}
.text .imagination{
  font-size:1.2vw;
  font-style: italic;
  /* padding-right: 4vw; */
  /* text-align: center; */
}
.text p{
  line-height:2vw;
  color:white;
  font-size:1.2vw;
  text-align: left;
  font-weight: 100;
  padding-right: 4vw;
}
.text .solutions{
  font-weight: 800;
  /* text-align: center; */
}
/* image of services */
.service-image {
  width:50%;
}
/* Choose Moon text */
.choose-moon{
  text-align: center;
    font-size:3vw;
    font-weight: 900;
    color:white;
    padding:8% 20%;
    padding-bottom: 0;
    line-height:5vw;
}
.Boxes{
  display: flex;
    justify-content: space-between;
    padding: 3.8vw;
    flex-wrap: wrap;
}
/* black box for different types of moons */
.box{
   width: 44vw; /* Adjust the width as needed */
    height:20vw;
    background-color: rgba(0, 0, 0, 0.911);
    /* box-sizing: border-box; */
    margin:1vw;
    position: relative;
}
/* Images of Moon */
.moon{
  width:30%;
  position: absolute;
  top:14%;
  left:10%;
}
.upcoming{
height:100%;
width:100%;
}
/* Text next to Moon images */
.box p{
  position: absolute;
  left:46%;
  font-family: Martel Sans;
  font-weight: 800;
  font-size: 3.5vw;
  color:white;
}
.box .below-moon{
  position:absolute;
  top:36%;
  left:46%;
  font-weight: 100;
  font-size:3vw;
  font-family: Martel Sans;
}
.fantasy-moon{
  text-align: center;
  font-size:3vw;
  font-weight: 900;
  color:white;
  padding-top:6%;
  margin-bottom: 0;
}
.slide-moons{
 display: flex;
 justify-content: space-between;
 height: 30vw;
 margin-bottom: 8%;
}
footer{
  padding:4vw;
}
.bottom-text{
  display: inline-block;
  color:white;
  font-size:1vw;
}
.bottom-logo{
  display: inline-block;
  height: 7vw;
}
.general li,.faq li{
  margin: 0;
  padding: 0;
  line-height: 1.3vw;
 }
/* General Section */
.general{
  display: inline;
list-style: none;
color:white;
float:right;
}
.general span{
  font-weight: 800;
  font-size:1.2vw;
}
.general a{
  text-decoration: none;
  color:white;
  font-size:1.1vw;
  margin:0;
  padding: 0;
}
/* FAQ Section */
.faq{
  display: inline;
  list-style: none;
  float: right;
}
.faq span{
font-weight: 800;
color:white;
font-size:1.2vw;
}
.faq a{
  color:white;
  font-size:1.1vw;
  /* line-height: 1vw; */
  text-decoration: none;
}

